{% extends '../base.html.twig' %}
{% block body %}

<h2>Mis Solicitudes </h2>
<div class="row">
{% for solicitud in solicitudees %}

<div class="col-md-4">
    <div class="card" style="width: 18 rem">
        <div class="card-body">
        <p class="card-test">Numero de maletas : {{solicitud.numMaletas}}</p>
        <p class="card-test"> Fecha Inicio : 
        {{solicitud.fechaInicio | date('d-m-Y')}}</p>
        <p class="card-test"> Fecha Fin : 
        {{solicitud.fechaFin | date('d-m-Y')}} </p>


{% endfor %}

</div>

{% endblock %}